#showTime {
    position: relative;
    min-width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(61, 148, 177);
    padding: 10px 0 10px 0;
}

thead, table {
    border-bottom: 5px solid rgb(2, 20, 26);
}

th, td {
    border: 1px solid black;
}

/* Controls fade in animation for information heading and table */
@keyframes fadeIn {
    from {opacity: 0; background-color: rgba(113, 113, 235, 0.384);}
    to {opacity: 1; }
}
#train-table {
    animation-name: fadeIn;
    animation-duration: 4s;
}
.row {
    animation-name: fadeIn;
    animation-duration: 4s;
}